body {
    background-color: #e6e6e4;
}

/*-- Style for Login-Form--*/

.position-login-form {
    margin-top: 20%;
}

#loginToBase {
    width: 100%;

}

#loginToBase label {
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: bold;
    color: #333333;
    text-transform: uppercase;

}

#loginToBase select {
    width: 100%;
    height: 60px;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
}

#login {
    width: 100%;
    height: 60px;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;

}

#password {
    width: 100%;
    height: 60px;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;

}

#submit {
    width: 60%;
    height: 60px;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    background-color: #ff0000;
    border-radius: 10px;
    margin-top: 30px;
    text-align: center;
}

#submit:hover {
    width: 60%;
    height: 60px;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    background-color: #fd7474;
    border-radius: 10px;
    margin-top: 30px;
    text-align: center;
}

/*-- Style for page Load_tasks--*/

.info_card {
    width: 100%;
    height: 160px;
    background-color:#ff8e8e;
    border-radius: 10px;
    -webkit-box-shadow: 17px 18px 26px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: 17px 18px 26px -12px rgba(0,0,0,0.75);
    box-shadow: 0px 30px 6px -20px rgba(0,0,0,0.35);
    padding-bottom: 15px;
}

.info_card:hover {
  background-color:#ffdbdb;
  transition: 1s;
  cursor:pointer;
}



.info_img img{
    width: 60px;
    height: 60px;
    float: right;
    margin:45px 20px;
    transform: rotate(180deg);
}

.info_img img:hover{
    width: 60px;
    height: 60px;
    float: right;
    transform: rotate(360deg);

}

.info_card p {
    font-family: "Open Sans";
    font-size: 18px;
    padding: 5px 15px;
}

hr {
  border-top:2px solid #ff8e8e;
}


/*Форма получения заданий*/

#get_tasks {
    width: 100%;
    margin-top: 100px;

}

#get_tasks label {
    font-family: "Open Sans";
    font-size: 28px;
    font-weight: bold;
    color: #333333;
    text-transform: uppercase;
}

#get_tasks select {
    width: 100%;
    height: 60px;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
}


#get_tasks input[type='submit'] {
    width: 100%;
    height: 60px;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    background-color: #ff0000;
    border-radius: 10px;
    margin-top: 30px;
    text-align: center;
}

#get_tasks input[type='submit']:hover {
    width: 100%;
    height: 60px;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    background-color: #990000;
    border-radius: 10px;
    margin-top: 30px;
    text-align: center;
}

